<html>
    <head>
        <title>Community Events Board</title>
    </head>
    <body>
        <h1>Community Events Board</h1>
        {% if username %}
        <h3><a href = 'my_events'> go to {{username}}'s page</a></h3>
        {% endif %}
        <form method="post" action="/events/new">
            <label for="event_name">Event Name:</label>
            <input type="text" name="event_name" value="">
            <label for="event_date">Date:</label>
            <input type="date" name="event_date" value="">
            {% if not username %}
            <label for="name">Name:</label>
            <input type="name" name="user_name" value="">
            {% endif %}
            <input type="submit" value="Submit">
        </form>
      <div class="event-list">
        <ul>
          {% for event in events %}
            <li>{{ event.event }} - {{ event.date }} - {{event.user}} </li>
          {% endfor %}
        </ul>
      </div>
      {% if username %}
      <a href='/logout'>Logout</a>
      {%else%}
      <a href='/index'>Login</a>
      {% endif %}
    </body>
</html>
